MONGODB_URI=
MONGODB_DB=dna-strategy
SHAREKHAN_API_KEY=
SHAREKHAN_SECURE_KEY=
SHAREKHAN_SESSION_ENCRYPTION_KEY=
SHAREKHAN_CUSTOMER_ID=
SHAREKHAN_VENDOR_KEY=
SHAREKHAN_VERSION_ID=
AUTH_USERNAME=admin
AUTH_PASSWORD=admin
AUTH_SECRET=
